﻿@*  Version=7.0.0.0   *@

@{
    Layout = "~/Views/Shared/_ajaxLayout.cshtml";
}


<div class="akku_page_container">

    @if (Model.parts.Count > 0)
    {
       <h3>Где купить @Model.parts[0].brief </h3>
    }
    <div class="akku_korpus">
        @foreach (var mod in Model.parts)
        {
            if (mod.pos == 1)
            {
                <input type="radio" name="odin" checked="checked" id = "vkl_@mod.pos" />if (@Model.Header=="run-in")
                {<label class="diff" for= "vkl_@mod.pos" > @mod.differenceName </label>}
            }
            else
            {
                <input type="radio" name="odin" id="vkl_@mod.pos" /><label class="diff" for="vkl_@mod.pos"> @mod.differenceName </label>
            }

        }

            @foreach (var mod in Model.parts)
            {
                if (@mod.image)
                {
            <img src = "http://direct.akku.ru/tests/market/ImageProd?prod=@mod.prod" />
                }
            <div>
                <table class="akku_grid_container">


                    @* <thead>
                        foreach (var url in mod.prodUrls)
                            {

                                        <tr class="header_row" style="display:@Model.Header">
                                            <td colspan="5" class="header_cell">
                                                <h2 class="table_header">@mod.differenceName </h2>
                                            </td>
                                        </tr>

                                    </thead>*@

                    @*  TABLE BODY *@
                    <tbody class="data_container">

                        @* SUBHEADER 
                         define optional columns width here *@
                        <tr class="subheader_row">
                            <td class="subheader_cell">Магазин</td>
                            <td class="subheader_cell">Доставка</td>
                            <td class="subheader_cell">Самовывоз<div class="akku_tooltip">i<span><strong>Что это?</strong>возможность предварительно заказать данный товар и забрать его в магазине или пункте выдачи заказов.Это возможность сэкономить и отсутствие необходимости ждать курьера</span></div></td> <!-- tooltip -->
                            @if (mod.packs > 1)
                            {
                                <td class="subheader_cell ">Цена / @mod.packs шт.</td>
                            }
                            else {
                                <td class="subheader_cell ">Цена</td>
                            }
                            <td class="subheader_cell">&nbsp;</td>
                        </tr>

                        @foreach (var item in mod.items)
                        {
                            <tr class="@(item.itemPos % 2 == 0 ? "data_odd" : "data_even")">

                                <td class="data_cell akku_shop"><a target="_blank" rel="nofollow" href="@item.tempuri"> <span style="white-space:nowrap;font-weight:bold">@item.name</span>  <span class="ya-name-city" style="white-space:nowrap">(@item.city)</span></a></td>
                                <td class="data_cell akku_delivery" colspan="@item.delicol">@item.delivery<div class="akku_tooltip">i<span><strong>Подробности:</strong>@item.full</span></div> </td>
                                <td class="data_cell akku_pickup" style="display:@item.delidisp">@item.pickup</td>
                                <td class="data_cell akku_price">@item.price</td>
                                <td class="data_cell akku_toshop">
                                    <div class="grid_button"><a target="_blank" rel="nofollow" href="@item.tempuri">В магазин</a></div>
                                    <div class="grid_button akku_tel">                           <a href="tel://+79039688945">Позвонить</a> </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            }
        @if (Model.parts.Count > 0)
        {
            <div style="display:block">
                <div style="float:left" class="akku-ym-link-content">
                    <span>Поддержка</span>
                    <a rel="nofollow" target="_blank" href="http://akku.ru">AKKU.RU</a>
                </div>
                <div style="float:right" class="akku-ym-link-content">
                    <span>Данные</span>
                    <a rel="nofollow" target="_blank" href="http://market.yandex.ru">Яндекс.Маркет</a>
                </div>
            </div>
        }
        </div>


    </div>



